<html lang="ko" html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-[800px] mx-auto">
<form th:action="@{/signup}" th:object="${memberForm}" class="flex flex-col gap-7" method="post">
    <!-- 스프링 시큐리티를 적용하면 POST 요청을 할 때 무조건 CSRF 라는 토큰을 같이 넘겨야 한다.
         그렇지 않으면 처리되지 않는다. -> 타임리프가 만들어줌.(action 에 th 를 붙이면 알아서 타임리프가 토큰을 만들어서 보내줌)-->

    <input type="text" class="input" name="loginId" th:field="*{loginId}" placeholder="아이디">
    <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></p>
    <input type="password" class="input" name="password" placeholder="비밀번호">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <input type="text" class="input" name="nickname" th:field="*{nickname}" placeholder="닉네임">
    <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></p>
    <input type="text" class="input" name="email" th:field="*{email}" placeholder="이메일">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <input type="submit" class="btn" value="가입">
</form>
</div>
</html>